@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}



:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
  --accent: #0047AB;
}

[data-theme="light"] {
  --background: #FBF8F3;
  --foreground: #262525;
  --accent: #B45309;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}